<div class="banner-three-columns" style="background-image:url('<%= image_path 'background.jpg' %>');">
  <div class="languages">
  <% link_to "https://codam.netlify.com" do %>
    <%= "EN" %>
    <% end %> |
     <% link_to "/nl" do %>
    <%= "NL" %>
    <% end %>
    </div>
  <%= image_tag 'logo.svg', class: "logo hidden-xs hidden-md hidden-sm" %>

  <div class="column-grid">

    <div class="placeholder-column">
      <%= image_tag 'logo.svg', class: "logo visible-xs visible-md visible-sm" %>
    </div>

    <div class="first-column">
      <div class="content">
        <h1>
          <%= t(:title) %>
        </h1>
        <p>
          <%= t(:paragraph) %>
        </p>
      </div>
    </div>

    <div class="second-column">
      <form action="https://codam.us17.list-manage.com/subscribe/post?u=894f1bf1ce8b3af7442e06a75&amp;id=7acaa79e44" method="post" class="mailchimp-form" target="_blank">
        <input type="email" placeholder=" <%= t(:inputfield) %>" autofocus="true" name="EMAIL">
        <input type="text" name="b_894f1bf1ce8b3af7442e06a75_7acaa79e44" tabindex="-1" value="" class="hidden">
        <input type="submit" value=" ">
      </form>
    </div>

  </div>

</div>



