<div class="row">
  <h3 class="text-center"><%= "#{title}" %></h3>
  <% cards.each do |card| %>
  <div class="col-xs-12 col-sm-4">
    <a class="card-picture" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path card.img %>');">
      <div class="card-content">
        <h3><%= card.title_front %></h3>
        <% unless card.date == "" %>
        <p><%= card.date %></p>
        <% end %>
      </div>
      <div class="card-hover">
        <div class="card-hover-content">
          <p><%= card.hovertext %></p>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>

