<h3 class="text-center padded">
  <%= dato.tripadvisor_review_section.section_title %>
</h3>

<% dato.reviews.each_with_index do |review, index| %>
  <% if index == 0 %>
    <div class="tab-content" id="tab-target-<%= index %>">
      <%= partial "review", locals: { review: review } %>
    </div>
  <% else %>
    <div class="tab-content hidden" id="tab-target-<%= index %>">
      <%= partial "review", locals: { review: review } %>
    </div>
  <% end %>
<% end %>

<div class="tabs">
  <% dato.reviews.each_with_index do |review, index| %>
    <% if index == 0 %>
      <a href="#" class="tab active" data-target="tab-target-<%= index %>">
        ●
      </a>
    <% else %>
      <a href="#" class="tab" data-target="tab-target-<%= index %>">
        ○
      </a>
    <% end %>
  <% end %>
</div>


<h2 class="text-center padded">
  Check out why people love us on <a href="https://www.tripadvisor.nl/Attraction_Review-g188590-d12691954-Reviews-Flying_Dutch_Boats-Amsterdam_North_Holland_Province.html" target="_blank">Tripadvisor <i class="fab fa-tripadvisor"></i></a>
</h2>

