---
title: Flying Dutch Boats | Private boat tour Amsterdam
---
<div class="banner" style="background-image: url(images/interior-scheepvaart.jpeg);">
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Private Boat Rental", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
	<div class="container">
		<%= partial "images_selection" %>
	</div>
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Drinks and Appetizers", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
	<div class="container">
		<%= partial "images_selection" %>
	</div>
</div>
<div class="wrapper-grey">
	<%#= partial "dark_title", locals: { title: "Drinks and Appetizers"} %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<ul class="list-group">
					<h3>
						Drink options
					</h3>
					<li class="list-group-item">
						<h4>
							Flying Dutch Drinks Basic
						</h4>
						<p class="slightly-gray">
							Unlimited Heineken beer, wine and so  drinks <span class="red-bordered-span">€ 6.50 p.p. per hour</span>
						</p>
					</li>
					<li class="list-group-item">
						<h4>
							Flying Dutch Drinks Media
						</h4>
						<p class="slightly-gray">
							Unlimited Heineken beer, wine, prosecco and so  drinks <span class="red-bordered-span">€ 8.50 p.p. per hour </span>
						</p>
					</li>
					<li class="list-group-item">
						<h4>
							Flying Dutch Drinks Deluxe
						</h4>
						<p class="slightly-gray">
							Unlimited Heineken beer, wine, prosecco, vodka, rum, whiskey, gin and so  drinks <span class="red-bordered-span">€ 11.50 p.p. per hour </span>
						</p>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="list-group">
					<h3>
						Appetizers
					</h3>
					<li class="list-group-item">
						<h4>
							Flying Dutch Garnish Hot
						</h4>
						<p class="slightly-gray">
							Croquettes, kaassoufles, chicken nuggets and frikandelletjes with three different sauces. <span class="red-bordered-span">€6,50 p.p.</span>
						</p>
					</li>
					<li class="list-group-item">
						<h4>
							Flying Dutch Garnish Basic
						</h4>
						<p class="slightly-gray">
							Cheese, liver sausage, pickles, nuts and beef sausage Experience <span class="red-bordered-span">€ 5,50 p.p.</span>
						</p>
					</li>
					<li class="list-group-item">
						<h4>
							Flying Dutch Luxe Borrelplateau
						</h4>
						<p class="slightly-gray">
							Organic cheeses, fresh imported olives, the best humus in Amsterdam, sausage Brandt & Levie, and premium meats. All produce is sourced from local suppliers. A plateau is composed of at least 10 people. <span class="red-bordered-span">€ 9,50 p.p.</span> 
						</p>
					</li>
					<li class="list-group-item">
						<h4>
							Flying Dutch Luxury
						</h4>
						<p class="slightly-gray">
							Trimmings Wraps with salmon filling, wraps with chicken pesto stuffing, fruit skewers with mozzarella and tomatoes <span class="red-bordered-span">€ 12,50 p.p.</span>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-sm-offset-2">
				<div class="tour tour-1">
					<div class="title-tour">
						<h3>
							Short
						</br>
						but
						<br>
						sweet
					</h3>
				</div>
				<div class="line-expl-part">
					<div class="title-line-tour"></div>
					<div class="tour-expl">
						<span><i class="fa fa-clock-o" aria-hidden="true"></i>90 minutes</span>
						<span><i class="fa fa-eur" aria-hidden="true"></i>250,-</span>
					</div>
					<div class="title-line-tour"></div>
				</div>
				<div class="tour-description">
					YES, one hour is highly recommended if you want to see and enjoy the old city and its canals because there is so much to do and see. In this canal tour we will go deeper into the Dutch history and you will see the biggest part of the city.
				</div>
				<div class="button-container">
					<%= link_to "Book now", "/booking.html", class: "btn-red" %>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="tour tour-2">
				<div class="title-tour">
					<h3>
						More
						<br>
						is
						<br>
						better
					</h3>
				</div>
				<div class="line-expl-part">
					<div class="title-line-tour"></div>
					<div class="tour-expl">
						<span><i class="fa fa-clock-o" aria-hidden="true"></i> 2,5 hours</span>
						<span><i class="fa fa-eur" aria-hidden="true"></i>425,-</span>
					</div>
					<div class="title-line-tour"></div>
				</div>
				<div class="tour-description">
					You already made it to Amsterdam, don't save on the wrong measures. This canal tour is probably the best choice for any person that loves Amsterdam. Get the full experience in this cruise and don't miss out on anything there is to see. For already hundreds of years the Dutch are sailing through this canals, and we will show you why.
				</div>
				<div class="button-container">
					<%= link_to "Book now", "/booking.html", class: "btn-red" %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
