<%= partial "_wrapper_grey", :locals => { :title => "Events", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-picture" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path 'drinks-upfront.jpeg' %>');">
          <div class="card-content">
            <h3>Amsterdam Light Festival</h3>
          </div>
          <div class="card-hover">
            <div class="card-hover-content">
              <p>Fill out this thing to do another thing</p>
            </div>
          </div>
        </div>


      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-picture" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path 'drinks-upfront.jpeg' %>');">
          <div class="card-content">
            <h3>Kings Day</h3>
            <p>April 27, 2018</p>
          </div>
          <div class="card-hover">
            <div class="card-hover-content">
              <p>Fill out this thing to do another thing</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-picture" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path 'drinks-upfront.jpeg' %>');">
          <div class="card-content">
            <h3>Gay Pride</h3>
            <p>Aug 5, 2018</p>
          </div>
          <div class="card-hover">
            <div class="card-hover-content">
              <p>Fill out this thing to do another thing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-picture" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path 'drinks-upfront.jpeg' %>');">
          <div class="card-content">
            <h3>Wedding</h3>
          </div>
          <div class="card-hover">
            <div class="card-hover-content">
              <p>Fill out this thing to do another thing</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-picture" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path 'drinks-upfront.jpeg' %>');">
          <div class="card-content">
            <h3>Bachelor Party</h3>
          </div>
          <div class="card-hover">
            <div class="card-hover-content">
              <p>Fill out this thing to do another thing</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-picture" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path 'drinks-upfront.jpeg' %>');">
          <div class="card-content">
            <h3>Birthday</h3>
          </div>
          <div class="card-hover">
            <div class="card-hover-content">
              <p>Fill out this thing to do another thing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

