<% content_for :meta_title do %>
<title>
  Flying Dutch Boats | <%= dato.faq_page.meta_title %>
</title>
<% end %>
<% content_for :meta_description do %>
  <% dato.faq_page.meta_description %>
<% end %>

<div class="container-faq">
  <div class="row">
    <div class="col-xs-hidden col-sm-4">
      <h3 class="catalyze-header">
        FAQ
      </h3>
      <ul class="list-unstyled faq-list-preview">
        <li>
          <%= link_to "General questions", "#general-questions" %>
          <ul>
            <% dato.faq_general_questions.each_with_index do |item, item_index| %>
            <li>
              <%= link_to item.question, "#general-questions-question-#{item_index}", class: "sub-item"  %>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <ul class="list-unstyled faq-list">
        <h2 id="general-questions">
          General questions
        </h2>
        <% dato.faq_general_questions.each_with_index do |item, item_index| %>
        <li id="general-questions-question-<%= item_index %>">
          <h3>
            <%= item.question %>
          </h3>
          <p>
            <%= item.answer %>
          </p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>