<% content_for :meta_title do %>
<title>
  Flying Dutch Boats | <%= dato.canal_page.meta_title %>
</title>
<% end %>
<% content_for :meta_description do %>
  <% dato.canal_page.meta_description %>
<% end %>

<%= partial "main_banner", locals: { title: dato.canal_page.main_title, image: dato.canal_page.background_image.url, cta: dato.canal_page.cta_button } %>
<%= partial "_wrapper_grey", :locals => { :title => dato.canal_page.title_introduction_text, :text => dato.canal_page.content_introduction_text } %>
<div class="wrapper-white">
  <div class="container">
    <%= partial "additional_information" %>
  </div>
</div>
<div class="wrapper-grey wrapper-padding">
  <%= partial "images_selection", locals: { image_collection: dato.photo_carousel_home_pages } %>
</div>
<div class="wrapper-white">
  <%= partial "two_list_columns" %>
</div>
<div class="wrapper-grey">
  <%= partial "review_home" %>
</div>

<div class="wrapper-white">
  <%= partial "single_ticket_booking" %>
</div>

<script>
  function initMap() {
    var uluru = {lat: 52.375297, lng: 4.884132};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnNY5g9K0rgQ1oxDcS8fIN0zXn_ONHO3E&callback=initMap">
</script>

